<section>
  <div class="surface-section px-4 py-8 md:px-6 lg:px-8">
    <div class="grid">
      <div class="col-12 p-4 flex flex-column">
        <div class="flex justify-content-between">
          <div>
        <div class="text-900 font-bold text-3xl mt-2">
          {{ companyData.company_name | uppercase }}
        </div>
        <p class="text-600 text-xl mt-3 mb-5 line-height-3">
          {{ companyData.company_type | titlecase }}
        </p>
        </div>
        <div>
        <img [src]="companyData.company_logo" class="w-full" alt="product" />
        </div>
        </div>
        <p-accordion
          expandIcon="pi pi-fw pi-plus"
          collapseIcon="pi pi-fw pi-minus"
        >
          <p-accordionTab header="Company Description">
            <div [innerHTML]="companyData.company_description"></div>
          </p-accordionTab>
          <p-accordionTab header="Alumni Details">
            <ul
              class="list-none"
              *ngFor="let alumni of companyData.alumni_detail"
            >
              <li
                class="text-600 line-height-3 flex flex-column mb-2"
              >
                <div>
                  <p class="font-semibold text-xl m-0">
                    <i class="pi pi-user mr-3"></i>
                    {{ alumni.name }} ( {{ alumni.batch }} Batch )
                  </p>
                </div>
                <div>
                  <p class="font-normal">{{ alumni.email }}</p>
                  <p class="font-normal">{{ alumni.phone }}</p>
                </div>
              </li>
            </ul>
          </p-accordionTab>
        </p-accordion>
      </div>
    </div>
  </div>
</section>
